
h4  {
  font-weight: bold;        /* Make text bold */
  color: #2c3e50;           /* Dark blue-gray color */
  margin-top: 20px;
  }
h5  {
  font-weight: bold;        /* Make text bold */
  color: #2c3e50;           /* Dark blue-gray color */
  margin-top: 20px;
  }
.cls-container {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f7f7f7;
    }

.cls-form {
      width: 100%;
      max-width: 400px;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      background-color: white;
    }



.smalltext {
  font-size: 14px;
  font-weight: bold;
  color: #0e0e0e;
 }

.column1 {
  border-color: #a6d49f;
  background-color: rgb(252, 252, 252);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.column2 {
  border-color: rgb(182, 179, 176);
  height: auto;
  padding: 20px;
 }

.appTitle {
  text-align: center;
  color: #c73e1d;
}


button {
  height: 30px; 
  color: #090d0f;                   /* Blue text color */
  border: 1px solid #8b8c8e;        /* Blue border */
  border-radius: 3px;               /* Rounded corners */
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s; 
}
body {
  font-family: "Roboto", sans-serif;
  margin: 10;
  margin-left: 10px;
}
